# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Database (For Member 2's DuckDB)
*.db
*.duckdb

# Antigravity / IDE specific
.antigravity/
.vscode/
.idea/

# Testing
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/